*/__pycache__/*
*.7z
results/*
bench_datasets/*
*.pyc
*.pt
.vscode/
.venv/*
roles/*.ipynb
auxiliary_datasets/edge_case_saved_datasets/airplane32/*
auxiliary_datasets/edge_case_saved_datasets/seagull/*
auxiliary_datasets/edge_case_saved_datasets/southwest_extend/*
auxiliary_datasets/edge_case_saved_datasets/southwest_extendv2/*
auxiliary_datasets/edge_case_saved_datasets/southwest_extendv3/*
data/*
*.txt
test/*
*.png
notebooks/*
*.out
*.log
tasks/tasks.json
all_results/
plot/*
auxiliary_datasets/*
third_party/bench_datasets/*
tasks/*.json
notebooks/let_me_see_see.ipynb
